:root {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.container {
  max-width: 865px;
  margin: 0 auto;
}

.form {
  display: flex;
  height: 100%;
}

.form > section {
  height: 100%;
}

.left {
  width: 65%;
  background-image: url(image.jpg);
  background-position: center 80%;
  background-size: cover;
}

.right {
  width: 35%;
  padding: 2rem;
}

@media screen and (max-width: 865px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }
}
